:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #8773ff;
  --dark-bg: #111;
  --white: #fff;
  --border-primary: #2f2f2f;
  --gray-hover: #ffffff12;
  --text-tertiary: #656565;
  --text-secondary: #bbbbbb;
  --sidebar-bg: #111111;
  --header-bg: #0e0e0e;
  --page-bg: #0f0f0f;
  --card-bg: #161616;
}

@font-face {
  font-family: 'Boston';
  src: url('../../../fonts/BostonRegular.otf');
  font-weight: 400;
  font-style: normal;
}

input::placeholder {
  font-family: 'Boston';
}
