.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  margin-top: 20px;
  margin-left: 28px;
  width: fit-content;
}

.headerTitle {
  font-weight: 700;
}

.headerAccount {
  padding-top: 20px;
  padding-right: 40px;
}
